header {
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

}

.header__block_logos {
    display: flex;
}

.header__block_burger {
    display: none;
}

.header__navigations {
    display: flex;

}

.navigatons__item {
    margin-right: 27px;
}

a {
    color: #000000;

}



@media screen and (max-width: 1090px) {
    .navigations__item_text {
        font-size: 13px;
    }
}
    




@media screen and (max-width: 992px) {
    .header__navigations {
        display: none;
    }

    header {
        margin-top: 15px;
    }

    .header__block_burger {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 55px;
        width: 55px;
        height: 35px;
    }

    .header__block_logo {
        display: block;
        margin-left: 50px;
        width: 105px;
        height: 75px;
        margin-top: 7px;
    }

    .header__buttons {
        margin: o auto;
    }
}
