header {
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

}

.header__block_logos {
    display: flex;
}

.header__block_burger {
    display: none;
    
}



.header__navigations {
    display: flex;

}



.navigatons__item {
    margin-right: 27px;
}



a {
    color: #000000;

}



.navigations__item_text:hover {
    color: #ef7f04;
    transition-duration: 90ms;
    padding-top: 20px;

    border-top: solid 5px;
    
}




@media screen and (max-width: 1090px) {
    .navigations__item_text {
        font-size: 13px;
    }
}
    




@media screen and (max-width: 992px) {
    .header__navigations {
        display: none;
    }

    header {
        margin-top: 15px;
    }

    .header__block_burger {
        display:inline-block;
        margin-top: 35px;
        position: relative;
        width: 50px;
        height: 7px;
        background-color: #ef7f04;
        cursor: pointer;
    }


    .header__block_burger::before {
        content:"";
        position: absolute;
        
        
        
        width: 50px;
        height: 7px;
        background-color: #ef7f04;

        top: 20px;


    }
    
    .header__block_burger::after {
        content:"";
        position: absolute;
        
        
        
        width: 50px;
        height: 7px;
        background-color: #ef7f04;

        bottom: 20px;
    }

  



    .header__block_logo {
        display: block;
        margin-left: 50px;
        width: 105px;
        height: 75px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .header__buttons {
        margin: o auto;
    }
}
