.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.request-form {
    background-image: url(/img/request_form/background.png);
    
}

.form-info {
    padding-top: 70px;
    display: flex;
}

.left-block__logo {
    display: flex;
}

.left .left-block__logo {
    padding: 60px 52px 0px 85px;
}

.licence {
    color: blue;
}