body {
    max-width: 1920px;
    width: 100%;
    
}


h1,h2,h3,h4,h5,h6, body, p {
    margin: 0;
    padding: 0;
    
}
/*
p {
    margin: 0;
    padding: 0;
    
}
*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}



img {
    vertical-align: middle;
}


/*
* {
    border: 1px solid teal;
}
*/
* {
    box-sizing: border-box;
}


input {
    border: none;
    
