.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    
}

.header__navigations {
    display: flex;
}

.navigatons__item {
margin-right: 27px;
}

a {
    color: #000000;
}



