.header {
    
}




/* БЛОК SHTANDART*/

.schtandart {
    max-width: 1200px;
    width: 100%;
    height: 435px;
    background-image: url(/img/schtandart/background.png);
    margin-top: 55px;

    &-info {
        height: 435px;

        &__title {
            padding-top: 35px;
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        &__logo {
            padding-top: 35px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 120px;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1075px;
        margin: 0 auto;
    }

    li {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 60px;

        width: 155px;
        height: 60px;
        vertical-align: sub;

        margin: 0 auto;
    }

    p {
        margin-top: 45px;
        display: flex;
    }

    &__button {
        width: 300px;
        margin: 0 auto;
        align-items: center;
        padding-top: 55px;
        width: 255px;
        height: 55px;
        margin-bottom: 15px;
    }
}


/* БЛОК О КОМПАНИИ */

.about-company {
    width: 1200px;
    margin-top: 80px;

   &__navigation {

    & h3 {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 90px;
    }

    &-list {
        margin-top: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;

        & button {
            align-items: center;
            border: none;
            background: none;
            font-weight: 100;
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            padding: 8px 24px;
            margin-bottom: 40px;
            cursor: pointer;
        }

        & button:focus {
            color: #ffffff;
            background: #ef7f04;
            outline: none;
        }
    }
   }
}